/*for headers*/
#grad{
    background-image: linear-gradient(to top, #ffffff 5%, #6cc7ad 50%, #00d4ff 100%);
 

  }
  body {
    margin: 20px;
    text-align: center;
  }

  
  h3{
    text-transform: uppercase;
  }

  img {
    float: left;
    margin: 5px;
  }

  p {
    text-align: justify;
    font-size: 25px;
  }
  #space{
    margin-top: 50px;
  }
  h2{
    margin-top: 10px;
  }
  